@model _1_EC.Categoria

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Consultar un Artículo</h2>

@ViewBag.Mensaje

@Html.ActionLink("Volver al listado", "FormCategoriasListar")

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodCat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomCat)
        </dd>

    </dl>
</div>
