@model IEnumerable<_1_EC.Articulo>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Artículos Comprados por el Cliente</h2>

<p>@ViewBag.Mensaje</p>

<td>
    @Html.ActionLink("Volver a Listado de Clientes", "ListadoInteractivoCliente", "Cliente")
</td>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPArt)
        </th>
        <th>
            Tamaño
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnaCat.NomCat)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomArt)
            </td>
            <td>
                @item.PrecioArt.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPArt)
            </td>
            <td>
                @{
                    string unidad = "";
                    switch (item.TipoPArt.ToLower())
                    {
                        case "unidad":
                            unidad = "unidades";
                            break;
                        case "blister":
                            unidad = "pastillas";
                            break;
                        case "sobre":
                            unidad = "gramos";
                            break;
                        case "frasco":
                            unidad = "ml";
                            break;
                    }
                }
                @item.TamArt @unidad
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnaCat.NomCat)
            </td>
        </tr>
    }
</table>